<header>
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
  >
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <button
        class="me-3 py-2 text-dark"
        class="btn btn-secondary m-1"
        routerLink="home"
      >
        Home
      </button>
      <button
        class="me-3 py-2 text-dark"
        class="btn btn-secondary m-1"
        routerLink="login"
      >
        Login
      </button>
      <button
        class="me-3 py-2 text-dark"
        class="btn btn-secondary m-1"
        routerLink="alta"
      >
        Alta producto
      </button>
      <button
        class="me-3 py-2 text-dark"
        class="btn btn-secondary m-1"
        routerLink="productos"
      >
        Productos
      </button>
      @if(this.user.correo) {
      <button
        class="me-3 py-2 text-dark"
        class="btn btn-danger m-1"
        (click)="cerrarSesion()"
      >
        Cerrar sesión
      </button>
      }
    </nav>
  </div>
</header>

<router-outlet />
